FLASK_ENV=production
FLASK_DEBUG=False

DATABASE_URL="mysql+pymysql://root:Kavi%40123@localhost/Smartems_Flask"
JWT_SECRET_KEY="THIS_IS_MY_SUPER_SECRET_KEY0123456789"

CORS_ORIGINS="http://localhost:4200"